In [7]:
# Dependencies

import pandas as pd

# Data Work

In [8]:
# 1
df = pd.read_csv('acc_players-2324F.csv', header=1)
df.head()

,Rk,Player,Class,Pos,School,G,MP,TRB,AST,STL,...,TOV,PF,PTS,FG%,2P%,3P%,FT%,PER,WS,BPM
0,1,Amaree Abram,SO,G,Georgia Tech,10,108,17,11,1,...,9,10,34,0.262,0.318,0.200,0.615,4.1,-0.1,-6.4
1,2,Sola Adebisi,FR,F,Florida State,7,9,1,1,0,...,1,1,2,0.500,0.500,NaN,NaN,3.5,0.0,-6.7
2,3,Prince Aligbe,SO,F,Boston College,35,651,119,21,15,...,30,51,164,0.435,0.522,0.147,0.620,9.4,0.9,-1.3
3,4,Abe Atiyeh,SR,G,Boston College,4,6,0,0,0,...,1,0,3,0.333,0.000,1.000,NaN,1.1,0.0,-8.2
4,5,Zack Austin,JR,F,Pittsburgh,33,746,137,29,32,...,13,35,216,0.417,0.563,0.295,0.737,18.0,2.9,7.9

In [29]:
# 2
print('Total Points: ' + str(df['PTS'].sum()))
print('Minutes Leader: ' + df['Player'][df['MP'].idxmax()])
print('Top 5 Rebounders:')
print(*df.nlargest(5, 'TRB')['Player'].tolist(), sep=', ')

Total Points: 38411
Minutes Leader: Casey Morsell
Top 5 Rebounders:
Armando Bacot, Ian Schieffelin, Harrison Ingram, Mohamed Diarra, Norchad Omier

In [32]:
# 3

t500_min = df[df['MP'] > 500]
print('Assists Leader (Minimum 500 MP): ' + t500_min['Player'][t500_min['AST'].idxmax()])
print('Top 3 Assists Leader (Minimum 500 MP): ')
print(*t500_min.nlargest(3, 'AST')['Player'].tolist(), sep=', ')
print('Top 3 Shot Blockers (Minimum 500 MP): ')
print(*t500_min.nlargest(3, 'BLK')['Player'].tolist(), sep=', ')

Assists Leader (Minimum 500 MP): Reece Beekman
Top 3 Assists Leader (Minimum 500 MP):
Reece Beekman, Jaeden Zackery, Elliot Cadeau
Top 3 Shot Blockers (Minimum 500 MP):
Ryan Dunn, Quinten Post, Armando Bacot

In [37]:
# 4

df.columns
team_stats = df[['School','TRB','AST','STL','BLK','TOV','PF','PTS']].groupby('School').sum()
print('Total Points by School: ')
display(team_stats['PTS'])
print('Total Assists by School: ')
display(team_stats['AST'])
print('Top 3 Schools by Total Points: ')
print(*team_stats.nlargest(3, 'PTS').index.tolist(), sep=', ')

Total Points by School:

School
Boston College    2667
Clemson           2785
Duke              2830
Florida State     2526
Georgia Tech      2272
Louisville        2304
Miami (FL)        2424
NC State          3101
North Carolina    3032
Notre Dame        2113
Pittsburgh        2495
Syracuse          2442
Virginia          2140
Virginia Tech     2547
Wake Forest       2733
Name: PTS, dtype: int64

Total Assists by School:

School
Boston College    509
Clemson           533
Duke              551
Florida State     406
Georgia Tech      425
Louisville        356
Miami (FL)        454
NC State          536
North Carolina    536
Notre Dame        335
Pittsburgh        452
Syracuse          442
Virginia          509
Virginia Tech     514
Wake Forest       429
Name: AST, dtype: int64

Top 3 Schools by Total Points:
NC State, North Carolina, Duke

# Reflection:

    This is at least my third time doing 'introductory' pandas work in a data science class here at UVA, so its hard to really express much that I've learned, especially in regards to data manipulation, reading, filtering, etc. However, this has reinforced a lot of the learning which I've already done. Catching up on some of the best practices, like using nlargest instead of a .sortby() followed by a .head(), will make my code much easier to read for my colleagues. While this is maybe a simple and small element, on the whole these, along with my carefully organized cell outputs using print() statements and display() statements, should make my code much more parseable in the future, which is a skill that I always value developing.

    The most challenging aspect of this assignment for me was probably in deciding how I wanted to output everything. Figuring out the best ways to display a printed list or dataframe wasn't wholly challenging in the grand scheme of data science work I've done, but it was the one thing that made me stop and consider how I can best go about doing this. I am much happier now that I have changed particularly my print statements for my lists. It took some time to find a way to print them in a way that is easily readable, but some quick googling made me realize I could do much better, and how.

    One thing that I think is really interesting about this analysis is that we are outsiders analyzing this data. Because basketball is so broad, these statistics are available to everyone; this is also the case for a lot of unclassified government data that is subject to the Freedom of Information Act. However, I imagine that in my future, much of the data I work with would be proprietary or otherwise subject to limited access - most business data is proprietary, some government data is confidential, a lot of healthcare data is protected by HIPAA, etc. This all makes me wonder what precautions should be taken, even when doing very rudimentary data analysis like in this homework. With that said, this is what I believe constitutes EDA, which is incredibly important in determining the scope of what information you can pull out of a data set. Often you find yourself with a data set that was not gathered by you personally, so doing this EDA is good practice for understand how to parse the data to look for interesting trends and pieces of information, and is applicable to just about any dataset in any industry.